[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = 1
[user]
  name = Tim Schindler
  email = xh3b4sd@gmail.com
[push]
  default = matching
[credential]
	helper = osxkeychain
