[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = 1
[core]
	editor = vim
	mergeoptions = --no-edit
[credential]
	helper = store
[pager]
	branch = false
[pull]
	rebase = false
[push]
	default = current
[user]
	name = Tim Schindler
	email = xh3b4sd@gmail.com
