.DS_Store

.atom/.DS_Store
.atom/blob-store
.atom/compile-cache
.atom/dev
.atom/packages
.atom/storage
.atom/.apm
.atom/.node-gyp
.atom/.npm

.vim/autoload/
.vim/init.vim
.vim/plug.vim
.vim/plug/
.vim/plugged/
.vim/view/
.vim/.netrwhist
