"*":
  "atom-ide-datatip":
    showDataTipOnCursorMove: false
  "atom-ide-definitions": {}
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
      formatOnType: false
    "atom-ide-debugger":
      showDebuggerOnBpSet: false
    "atom-ide-diagnostics-ui": {}
    "atom-ide-signature-help":
      enable: false
    "atom-ide-terminal":
      documentationMessage: false
      rendererType: "canvas"
    use:
      "atom-ide-busy-signal": "never"
      "atom-ide-code-actions": "never"
      "atom-ide-code-format": "always"
      "atom-ide-code-highlight": "never"
      "atom-ide-console": "never"
      "atom-ide-datatip": "never"
      "atom-ide-debugger": "never"
      "atom-ide-definitions": "always"
      "atom-ide-diagnostics": "never"
      "atom-ide-diagnostics-ui": "never"
      "atom-ide-find-references": "always"
      "atom-ide-global": "never"
      "atom-ide-outline-view": "never"
      "atom-ide-refactor": "never"
      "atom-ide-signature-help": "never"
      "atom-ide-terminal": "never"
      hyperclick: "never"
  "atom-material-ui":
    colors:
      abaseColor: "#1767a8"
      accentColor: "#9e9da3"
      predefinedColor: "Blue"
    fonts:
      fontSize: 18
    tabs:
      compactTabs: true
      tintedTabBar: true
    ui:
      useAnimations: false
  "autocomplete-plus":
    autoActivationDelay: 50
    backspaceTriggersAutocomplete: true
    minimumWordLength: 2
    strictMatching: true
    suppressActivationForEditorClasses: [
      "vim-mode-plus.normal-mode"
      "vim-mode-plus.visual-mode"
      "vim-mode-plus.operator-pending-mode"
      "vim-mode-plus.insert-mode.replace"
    ]
    useCoreMovementCommands: false
  "bracket-matcher":
    alwaysSkipClosingPairs: true
  core:
    allowPendingPaneItems: false
    audioBeep: false
    closeEmptyWindows: false
    disabledPackages: [
      "welcome"
      "symbols-view"
      "github"
      "autosave"
      "background-tips"
      "bookmarks"
      "status-bar"
      "atom-ide-markdown-service"
      "busy-signal"
      "hyperclick"
    ]
    excludeVcsIgnoredPaths: false
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "fuzzy-finder"
      "color-picker"
      "project-folder"
      "grammar-selector"
      "format-shell"
      "project-manager"
      "command-palette"
      "markdown-preview"
      "go-plus"
      "go-debug"
      "bracket-matcher"
      "atom-ide-datatip"
      "atom-ide-definitions"
      "spell-check"
    ]
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
    useTreeSitterParsers: false
    warnOnLargeFileLimit: 1
  counter:
    countChars: false
    countLines: false
    includeWhitespace: false
  "cursor-history":
    excludeClosedBuffer: true
    flashOnLand: false
    searchAllPanes: false
  editor:
    autoIndentOnPaste: false
    fontFamily: "Hack"
    maxScreenLineLength: 2000
    scrollPastEnd: true
  "exception-reporting":
    userId: "56397ef8-b665-6545-fef9-0f22afdf33c8"
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  "go-plus":
    autocomplete:
      proposeBuiltins: false
      suppressBuiltinAutocompleteProvider: false
      unimportedPackages: false
    config:
      compileOnSave: false
    disabledBundledPackages: [
      "go-signature-statusbar"
      "go-debug"
    ]
    guru:
      highlightIdentifiers: false
    panel:
      displayMode: "closed"
      focusOnFailure: false
    test:
      runTestsOnSave: false
      runTestsWithCoverage: false
      runTestsWithShortFlag: false
  "markdown-preview":
    openPreviewInSplitPane: false
  "one-dark-ui": {}
  "package-generator":
    packageSyntax: "coffeescript"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "project-folder":
    gitProjectDirectories: [
      "~/projects"
    ]
    projectRootDirectories: [
      "~/projects/private/dotfiles/.atom/packages"
    ]
  "project-manager":
    alwaysOpenInSameWindow: true
    prettifyTitle: false
    showPath: false
    sortBy: "title"
  "relative-numbers":
    showAbsoluteNumbersInInsertMode: false
    softWrapsCount: false
  "save-session":
    dataSaveFolder: "/Users/zyndiecate/.atom/packages/save-session/projects"
  "seti-ui":
    disableAnimations: true
    fileIcons: false
    themeColor: "Red"
  "spell-check":
    locales: [
      "en-GB"
    ]
    useLocales: false
  "status-bar":
    isVisible: false
  tabs: {}
  "todo-show":
    findUsingRegex: "/ \\b(${TODOS})[:;.,]?\\d*($|\\s.*$|\\(.*$)/g"
    ignoreThesePaths: [
      "**/node_modules/"
      "**/vendor/"
      "**/bower_components/"
      "**/.workspace/"
      "**/.gobuild/"
      "**/.atom/"
      "**/dotfiles/"
      "**/.vim/"
      "**/.gitignore"
    ]
    sortBy: "Type"
  "tree-view":
    alwaysOpenExisting: true
  "vim-mode-plus":
    findAcrossLines: true
    reuseFindForRepeatFind: true
    setCursorToStartOfChangeOnUndoRedo: true
    smoothScrollOnFullScrollMotion: true
    smoothScrollOnFullScrollMotionDuration: 250
    smoothScrollOnHalfScrollMotion: true
    smoothScrollOnHalfScrollMotionDuration: 250
    smoothScrollOnMiniScroll: true
    smoothScrollOnMiniScrollDuration: 250
    smoothScrollOnRedrawCursorLine: true
    smoothScrollOnRedrawCursorLineDuration: 250
    stayOnYank: false
    useClipboardAsDefaultRegister: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "wrap-guide":
    enabled: false
".gfm.source":
  editor:
    softWrap: false
