"*":
  "advanced-open-file":
    defaultInputValue: "Empty"
    fuzzyMatch: true
    helmDirSwitch: true
  "autocomplete-plus":
    strictMatching: true
  autosave:
    enabled: true
  "color-picker":
    preferredFormat: "HEX"
  core:
    disabledPackages: [
      "welcome"
      "symbols-view"
    ]
    excludeVcsIgnoredPaths: false
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "fuzzy-finder"
      "color-picker"
      "project-folder"
    ]
    projectHome: "/Users/zyndiecate/github"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "no-caffeine-syntax"
    ]
  "custom-title":
    template: "Atom <%= atom.getVersion() %>"
  editor:
    fontFamily: "Hack"
    fontSize: 13
  "exception-reporting":
    userId: "56397ef8-b665-6545-fef9-0f22afdf33c8"
  "find-and-replace": {}
  "fold-functions":
    autofold: true
  "fold-navigator":
    autofold: true
    keepFolding: true
    keepFoldingAllTime: true
    maxFoldLevel: 1
    maxLineContentLength: 80
  "fuzzy-finder":
    preserveLastSearch: true
  "package-generator":
    packageSyntax: "coffeescript"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "project-folder":
    gitProjectDirectories: [
      "~/projects"
    ]
    projectRootDirectories: [
      "~/projects/private/dotfiles/.atom/packages"
    ]
  "project-manager":
    alwaysOpenInSameWindow: true
  "project-plus": {}
  "save-session":
    dataSaveFolder: "/Users/zyndiecate/.atom/packages/save-session/projects"
  "todo-show":
    ignoreThesePaths: [
      "**/node_modules/"
      "**/vendor/"
      "**/bower_components/"
      "**/.workspace/"
      "**/.gobuild/"
      "**/.atom/"
      "**/dotfiles/"
      "**/.vim/"
    ]
  "tree-view":
    alwaysOpenExisting: true
