packages: [
  "atom-ide-definitions"
  "atom-ide-markdown-service"
  "atom-ide-ui"
  "atom-material-syntax"
  "atom-material-ui"
  "busy-signal"
  "cursor-history"
  "format-shell"
  "go-plus"
  "hyperclick"
  "ide-gopls"
  "language-hcl"
  "language-protobuf"
  "package-sync"
  "project-manager"
  "relative-numbers"
  "seti-ui"
  "vim-mode-plus"
]
