packages: [
  "atom-ide-ui"
  "busy-signal"
  "color-picker"
  "counter"
  "cursor-history"
  "format-shell"
  "gaia-dark-syntax"
  "go-debug"
  "go-plus"
  "intentions"
  "language-hcl"
  "language-protobuf"
  "no-caffeine-syntax"
  "package-sync"
  "project-manager"
  "teletype"
  "todo-show"
  "vim-fold-one"
  "vim-mode-plus"
]
