[
  {
    title: "anubis-vpn-container"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/anubis-vpn-container"
    ]
  }
  {
    title: "content"
    paths: [
      "/Users/xh3b4sd/projects/xh3b4sd/content"
    ]
  }
  {
    title: "api"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/api"
    ]
  }
  {
    title: "apiextensions"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/apiextensions"
    ]
  }
  {
    title: "api-spec"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/api-spec"
    ]
  }
  {
    title: "apprclient"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/apprclient"
    ]
  }
  {
    title: "architect"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/architect"
    ]
  }
  {
    title: "aws-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/aws-operator"
    ]
  }
  {
    title: "azure-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/azure-operator"
    ]
  }
  {
    title: "certctl"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/certctl"
    ]
  }
  {
    title: "certs"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/certs"
    ]
  }
  {
    title: "cert-exporter"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/cert-exporter"
    ]
  }
  {
    title: "cert-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/cert-operator"
    ]
  }
  {
    title: "cert-resource-lab"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/cert-resource-lab"
    ]
  }
  {
    title: "chart-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/chart-operator"
    ]
  }
  {
    title: "clusterclient"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/clusterclient"
    ]
  }
  {
    title: "cluster-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/cluster-operator"
    ]
  }
  {
    title: "cluster-service"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/cluster-service"
    ]
  }
  {
    title: "companyd"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/companyd"
    ]
  }
  {
    title: "crdstorage"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/crdstorage"
    ]
  }
  {
    title: "desmotes"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/desmotes"
    ]
  }
  {
    title: "draughtsman"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/draughtsman"
    ]
  }
  {
    title: "draughtsman-eventer"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/draughtsman-eventer"
    ]
  }
  {
    title: "draughtsman-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/draughtsman-operator"
    ]
  }
  {
    title: "e2e-app"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/e2e-app"
    ]
  }
  {
    title: "e2e-harness"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/e2e-harness"
    ]
  }
  {
    title: "e2etests"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/e2etests"
    ]
  }
  {
    title: "endpoint-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/endpoint-operator"
    ]
  }
  {
    title: "errgo"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/errgo"
    ]
  }
  {
    title: "errors"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/errors"
    ]
  }
  {
    title: "etcdstorage"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/etcdstorage"
    ]
  }
  {
    title: "extservice-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/extservice-operator"
    ]
  }
  {
    title: "flannel-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/flannel-operator"
    ]
  }
  {
    title: "fmt"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/fmt"
    ]
  }
  {
    title: "g8s-etcd-operator"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/g8s-etcd-operator"
    ]
  }
  {
    title: "g8s-grafana"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/g8s-grafana"
    ]
  }
  {
    title: "g8s-prometheus"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/g8s-prometheus"
    ]
  }
  {
    title: "gsclientgen"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/gsclientgen"
    ]
  }
  {
    title: "giantswarm"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/giantswarm"
    ]
  }
  {
    title: "gsctl"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/gsctl"
    ]
  }
  {
    title: "happa"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/happa"
    ]
  }
  {
    title: "helmclient"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/helmclient"
    ]
  }
  {
    title: "installations"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/installations"
    ]
  }
  {
    title: "ingress-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/ingress-operator"
    ]
  }
  {
    title: "ipam"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/ipam"
    ]
  }
  {
    title: "k8s-endpoint-updater"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/k8s-endpoint-updater"
    ]
  }
  {
    title: "k8s-kvm"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/k8s-kvm"
    ]
  }
  {
    title: "k8s-network-bridge"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/k8s-network-bridge"
    ]
  }
  {
    title: "k8s-network-config"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/k8s-network-config"
    ]
  }
  {
    title: "k8scloudconfig"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/k8scloudconfig"
    ]
  }
  {
    title: "k8shealthz"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/k8shealthz"
    ]
  }
  {
    title: "k8sportforward"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/k8sportforward"
    ]
  }
  {
    title: "kubernetesd"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/kubernetesd"
    ]
  }
  {
    title: "kubernetesdclient"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/kubernetesdclient"
    ]
  }
  {
    title: "kvm-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/kvm-operator"
    ]
  }
  {
    title: "kvmcrd"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/kvmcrd"
    ]
  }
  {
    title: "mayu"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/mayu"
    ]
  }
  {
    title: "microclient"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/microclient"
    ]
  }
  {
    title: "microendpoint"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/microendpoint"
    ]
  }
  {
    title: "microerror"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/microerror"
    ]
  }
  {
    title: "microkit"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/microkit"
    ]
  }
  {
    title: "micrologger"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/micrologger"
    ]
  }
  {
    title: "microstorage"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/microstorage"
    ]
  }
  {
    title: "microkit-example"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/microkit-example"
    ]
  }
  {
    title: "node-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/node-operator"
    ]
  }
  {
    title: "operatorkit"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/operatorkit"
    ]
  }
  {
    title: "opsctl"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/opsctl"
    ]
  }
  {
    title: "passage"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/passage"
    ]
  }
  {
    title: "pipelines"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/pipelines"
    ]
  }
  {
    title: "prometheus-config-controller"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/prometheus-config-controller"
    ]
  }
  {
    title: "pv-cleaner-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/pv-cleaner-operator"
    ]
  }
  {
    title: "randomkeys"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/randomkeys"
    ]
  }
  {
    title: "randomkeytpr"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/randomkeytpr"
    ]
  }
  {
    title: "rangepool"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/rangepool"
    ]
  }
  {
    title: "retagger"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/retagger"
    ]
  }
  {
    title: "storagehealthz"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/storagehealthz"
    ]
  }
  {
    title: "test"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/test"
    ]
  }
  {
    title: "test-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/test-operator"
    ]
  }
  {
    title: "tokend"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/tokend"
    ]
  }
  {
    title: "userd"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/userd"
    ]
  }
  {
    title: "valuemodifier"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/valuemodifier"
    ]
  }
  {
    title: "vaultcrt"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/vaultcrt"
    ]
  }
  {
    title: "vaulthealthz"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/vaulthealthz"
    ]
  }
  {
    title: "vaultlab"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/vaultlab"
    ]
  }
  {
    title: "vaultpki"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/vaultpki"
    ]
  }
  {
    title: "vaultrole"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/vaultrole"
    ]
  }
  {
    title: "vaulttoken"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/vaulttoken"
    ]
  }
  {
    title: "versionbundle"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/versionbundle"
    ]
  }
  {
    title: "the-anna-project"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/the-anna-project/the-anna-project"
    ]
  }
  {
    title: "xh3b4sd"
    paths: [
      "/Users/xh3b4sd"
    ]
  }
]
