[
  {
    title: "kubernetes-sigs/cluster-api"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/kubernetes-sigs/cluster-api"
    ]
  }
  {
    title: "kubernetes-sigs/kubebuilder"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/kubernetes-sigs/kubebuilder"
    ]
  }
  {
    title: "giantswarm/aws-app-collection"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/aws-app-collection"
    ]
  }
  {
    title: "giantswarm/azure-app-collection"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/azure-app-collection"
    ]
  }
  {
    title: "giantswarm/blog"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/blog"
    ]
  }
  {
    title: "giantswarm/branch-cleanup-action"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/branch-cleanup-action"
    ]
  }
  {
    title: "giantswarm/bridge-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/bridge-operator"
    ]
  }
  {
    title: "giantswarm/ci-cleaner"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/ci-cleaner"
    ]
  }
  {
    title: "giantswarm/clientk8s"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/clientk8s"
    ]
  }
  {
    title: "giantswarm/api"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/api"
    ]
  }
  {
    title: "giantswarm/apiextensions"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/apiextensions"
    ]
  }
  {
    title: "giantswarm/api-spec"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/api-spec"
    ]
  }
  {
    title: "giantswarm/apprclient"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/apprclient"
    ]
  }
  {
    title: "giantswarm/app-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/app-operator"
    ]
  }
  {
    title: "giantswarm/architect"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/architect"
    ]
  }
  {
    title: "giantswarm/aws-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/aws-operator"
    ]
  }
  {
    title: "giantswarm/azure-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/azure-operator"
    ]
  }
  {
    title: "giantswarm/backoff"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/backoff"
    ]
  }
  {
    title: "giantswarm/certctl"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/certctl"
    ]
  }
  {
    title: "giantswarm/certs"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/certs"
    ]
  }
  {
    title: "giantswarm/cert-exporter"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/cert-exporter"
    ]
  }
  {
    title: "giantswarm/cert-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/cert-operator"
    ]
  }
  {
    title: "giantswarm/cert-resource-lab"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/cert-resource-lab"
    ]
  }
  {
    title: "giantswarm/chart-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/chart-operator"
    ]
  }
  {
    title: "giantswarm/clusterclient"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/clusterclient"
    ]
  }
  {
    title: "giantswarm/cluster-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/cluster-operator"
    ]
  }
  {
    title: "giantswarm/cluster-service"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/cluster-service"
    ]
  }
  {
    title: "giantswarm/companyd"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/companyd"
    ]
  }
  {
    title: "giantswarm/crdstorage"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/crdstorage"
    ]
  }
  {
    title: "giantswarm/credentiald"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/credentiald"
    ]
  }
  {
    title: "giantswarm/desmotes"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/desmotes"
    ]
  }
  {
    title: "giantswarm/devctl"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/devctl"
    ]
  }
  {
    title: "giantswarm/draughtsman"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/draughtsman"
    ]
  }
  {
    title: "giantswarm/draughtsman-eventer"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/draughtsman-eventer"
    ]
  }
  {
    title: "giantswarm/draughtsman-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/draughtsman-operator"
    ]
  }
  {
    title: "giantswarm/e2e-app"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/e2e-app"
    ]
  }
  {
    title: "giantswarm/e2e-harness"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/e2e-harness"
    ]
  }
  {
    title: "giantswarm/e2eclients"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/e2eclients"
    ]
  }
  {
    title: "giantswarm/e2ectl"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/e2ectl"
    ]
  }
  {
    title: "giantswarm/e2esetup"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/e2esetup"
    ]
  }
  {
    title: "giantswarm/e2etemplates"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/e2etemplates"
    ]
  }
  {
    title: "giantswarm/e2etests"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/e2etests"
    ]
  }
  {
    title: "giantswarm/errgo"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/errgo"
    ]
  }
  {
    title: "giantswarm/errors"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/errors"
    ]
  }
  {
    title: "giantswarm/etcdstorage"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/etcdstorage"
    ]
  }
  {
    title: "giantswarm/exporterkit"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/exporterkit"
    ]
  }
  {
    title: "giantswarm/extservice-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/extservice-operator"
    ]
  }
  {
    title: "giantswarm/featureflags"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/featureflags"
    ]
  }
  {
    title: "giantswarm/flannel-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/flannel-operator"
    ]
  }
  {
    title: "giantswarm/fmt"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/fmt"
    ]
  }
  {
    title: "giantswarm/g8s-etcd-operator"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/g8s-etcd-operator"
    ]
  }
  {
    title: "giantswarm/g8s-grafana"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/g8s-grafana"
    ]
  }
  {
    title: "giantswarm/g8s-prometheus"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/g8s-prometheus"
    ]
  }
  {
    title: "giantswarm/giantnetes-terraform"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/giantnetes-terraform"
    ]
  }
  {
    title: "giantswarm/github-exporter"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/github-exporter"
    ]
  }
  {
    title: "giantswarm/gsclientgen"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/gsclientgen"
    ]
  }
  {
    title: "giantswarm/giantswarm"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/giantswarm"
    ]
  }
  {
    title: "giantswarm/giantswarm-js-client"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/giantswarm-js-client"
    ]
  }
  {
    title: "giantswarm/gsctl"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/gsctl"
    ]
  }
  {
    title: "giantswarm/guestcluster"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/guestcluster"
    ]
  }
  {
    title: "giantswarm/happa"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/happa"
    ]
  }
  {
    title: "giantswarm/helmclient"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/helmclient"
    ]
  }
  {
    title: "giantswarm/installations"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/installations"
    ]
  }
  {
    title: "giantswarm/ingress-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/ingress-operator"
    ]
  }
  {
    title: "giantswarm/ipam"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/ipam"
    ]
  }
  {
    title: "giantswarm/k8s-kvm"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/k8s-kvm"
    ]
  }
  {
    title: "giantswarm/k8s-migrator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/k8s-migrator"
    ]
  }
  {
    title: "giantswarm/k8s-network-bridge"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/k8s-network-bridge"
    ]
  }
  {
    title: "giantswarm/k8s-network-config"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/k8s-network-config"
    ]
  }
  {
    title: "giantswarm/k8sclient"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/k8sclient"
    ]
  }
  {
    title: "giantswarm/k8scloudconfig"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/k8scloudconfig"
    ]
  }
  {
    title: "giantswarm/k8shealthz"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/k8shealthz"
    ]
  }
  {
    title: "giantswarm/k8sportforward"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/k8sportforward"
    ]
  }
  {
    title: "giantswarm/kubebuilder-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/kubebuilder-operator"
    ]
  }
  {
    title: "giantswarm/kubernetesd"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/kubernetesd"
    ]
  }
  {
    title: "giantswarm/kubernetesdclient"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/kubernetesdclient"
    ]
  }
  {
    title: "giantswarm/kvm-app-collection"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/kvm-app-collection"
    ]
  }
  {
    title: "giantswarm/kvm-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/kvm-operator"
    ]
  }
  {
    title: "giantswarm/mayu"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/mayu"
    ]
  }
  {
    title: "giantswarm/microclient"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/microclient"
    ]
  }
  {
    title: "giantswarm/microendpoint"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/microendpoint"
    ]
  }
  {
    title: "giantswarm/microerror"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/microerror"
    ]
  }
  {
    title: "giantswarm/microkit"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/microkit"
    ]
  }
  {
    title: "giantswarm/micrologger"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/micrologger"
    ]
  }
  {
    title: "giantswarm/microstorage"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/microstorage"
    ]
  }
  {
    title: "giantswarm/microkit-example"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/microkit-example"
    ]
  }
  {
    title: "giantswarm/mozjpeg"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/mozjpeg"
    ]
  }
  {
    title: "giantswarm/net-exporter"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/net-exporter"
    ]
  }
  {
    title: "giantswarm/node-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/node-operator"
    ]
  }
  {
    title: "giantswarm/operatorkit"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/operatorkit"
    ]
  }
  {
    title: "giantswarm/opsctl"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/opsctl"
    ]
  }
  {
    title: "giantswarm/ops-recipes"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/ops-recipes"
    ]
  }
  {
    title: "giantswarm/passage"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/passage"
    ]
  }
  {
    title: "giantswarm/prometheus-config-controller"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/prometheus-config-controller"
    ]
  }
  {
    title: "giantswarm/pv-cleaner-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/pv-cleaner-operator"
    ]
  }
  {
    title: "giantswarm/randomkeys"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/randomkeys"
    ]
  }
  {
    title: "giantswarm/rangepool"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/rangepool"
    ]
  }
  {
    title: "giantswarm/releases"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/releases"
    ]
  }
  {
    title: "giantswarm/release-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/release-operator"
    ]
  }
  {
    title: "giantswarm/retagger"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/retagger"
    ]
  }
  {
    title: "giantswarm/route53-manager"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/route53-manager"
    ]
  }
  {
    title: "giantswarm/ruleengine"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/ruleengine"
    ]
  }
  {
    title: "giantswarm/slack-exporter"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/slack-exporter"
    ]
  }
  {
    title: "giantswarm/statusresource"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/statusresource"
    ]
  }
  {
    title: "giantswarm/storagehealthz"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/storagehealthz"
    ]
  }
  {
    title: "giantswarm/template-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/template-operator"
    ]
  }
  {
    title: "giantswarm/tenantcluster"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/tenantcluster"
    ]
  }
  {
    title: "giantswarm/tenant-cluster-installations"
    paths: [
      "/Users/xh3b4sd/projects/giantswarm/tenant-cluster-installations"
    ]
  }
  {
    title: "giantswarm/test-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/test-operator"
    ]
  }
  {
    title: "giantswarm/to"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/to"
    ]
  }
  {
    title: "giantswarm/tokend"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/tokend"
    ]
  }
  {
    title: "giantswarm/update-operator"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/update-operator"
    ]
  }
  {
    title: "giantswarm/userd"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/userd"
    ]
  }
  {
    title: "giantswarm/valuemodifier"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/valuemodifier"
    ]
  }
  {
    title: "giantswarm/vaultcrt"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/vaultcrt"
    ]
  }
  {
    title: "giantswarm/vaulthealthz"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/vaulthealthz"
    ]
  }
  {
    title: "giantswarm/vaultlab"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/vaultlab"
    ]
  }
  {
    title: "giantswarm/vaultpki"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/vaultpki"
    ]
  }
  {
    title: "giantswarm/vaultrole"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/vaultrole"
    ]
  }
  {
    title: "giantswarm/vaulttoken"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/vaulttoken"
    ]
  }
  {
    title: "giantswarm/versionbundle"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/giantswarm/versionbundle"
    ]
  }
  {
    title: "the-anna-project/storage"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/the-anna-project/storage"
    ]
  }
  {
    title: "the-anna-project/worker"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/the-anna-project/worker"
    ]
  }
  {
    title: "the-anna-project/the-anna-project"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/the-anna-project/the-anna-project"
    ]
  }
  {
    title: "open-tunnel-infrastructure-project/documentation"
    paths: [
      "/Users/xh3b4sd/projects/open-tunnel-infrastructure-project/documentation"
    ]
  }
  {
    title: "prometheus/prometheus"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/prometheus/prometheus"
    ]
  }
  {
    title: "xh3b4sd"
    paths: [
      "/Users/xh3b4sd"
    ]
  }
  {
    title: "xh3b4sd/content"
    paths: [
      "/Users/xh3b4sd/projects/xh3b4sd/content"
    ]
  }
  {
    title: "xh3b4sd/dotfiles"
    paths: [
      "/Users/xh3b4sd/projects/xh3b4sd/dotfiles"
    ]
  }
  {
    title: "xh3b4sd/github-tweeter"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/xh3b4sd/github-tweeter"
    ]
  }
  {
    title: "xh3b4sd/gotest"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/xh3b4sd/gotest"
    ]
  }
  {
    title: "xh3b4sd/laika"
    paths: [
      "/Users/xh3b4sd/go/src/github.com/xh3b4sd/laika"
    ]
  }
  {
    title: "xh3b4sd/poker"
    paths: [
      "/Users/xh3b4sd/projects/xh3b4sd/poker"
    ]
  }
]
